@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@500&display=swap');

/*Variáveis*/
:root {
  --cor1: #FFFFFF;
  --cor2: #F0F0F2;
  --cor3: #2C2C2C;
  --cor4: #2FA866;
  --cor5: #3C5366;
  --cor6: #2B475E;
  --cor7: #000000;
  
  --fonte1: 'Montserrat', sans-serif;
  --fonte2: 'Raleway', sans-serif;
}

/*Padrão*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor2);
}

header {
  background-color: var(--cor6);
  padding: 0 ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  position: relative;
  max-width: 1000px;
  margin: auto;
  background-color: var(--cor1);
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0 2px #00000080;
}

footer {
  width: 100%;
}

footer p {
  margin: 0;
  padding-bottom: 10px;
  font-family: var(--fonte1);
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
  color: var(--cor1);
  background-color: var(--cor6);
}

footer a {
  color: var(--cor1);
}

footer a:hover {
  color: var(--cor7);
}

ion-icon {
  width: 30px;
  height: 30px;
  margin: 8px 15px;
}

h1 {
  font-family: var(--fonte1);
  font-size: 1.65rem;
  color: var(--cor6);
  margin: 0px 15px;
  padding-top: 95px;
}

h2 {
  margin: 15px;
  font-family: var(--fonte1);
  font-size: 1.4rem;
  color: var(--cor6);
}

article h2 {
  padding: 5px 15px;
  background-image: linear-gradient(to right, #3C536680, transparent);
}

h3 {
  font-family: var(--fonte1);
  font-size: 1.25rem;
  color: var(--cor3);
}

p {
  margin: 15px;
  color: var(--cor3);
  font-family: var(--fonte2);
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--cor4);
  font-weight: bold;
}

a:hover {
  color: var(--cor5);
}

ul {
  list-style: none;
}

strong {
  color: var(--cor4);
}

article img {
  margin: 0 15px;
  margin-bottom: 15px;
  width: calc(100vw - 30px);
  max-width: 970px;
  border-radius: 5px;
}

.main {
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}

.icones {
  background-color: var(--cor5);
  display: block;
  text-align: center;
}

/*Butão*/
.recente button {
  background-color: var(--cor6);
  color: var(--cor1);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-family: var(--fonte1);
  font-size: 14px;
  margin: 0 0 15px 15px;
  box-shadow: 0 0 1px #00000080;
}
.button {
  background-color: var(--cor1);
  color: var(--cor6);
  padding: 8px 40px;
  border: none;
  border-radius: 2px;
  font-family: var(--fonte1);
  font-size: 14px;
  margin: 0 auto 30px auto;
  display: block;
  box-shadow: 0 0 2px #00000080;
}
.box button {
  border: none;
  background-color: transparent;
}
.box {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 15px;
  border-bottom: 0.5px solid #00000033;
}
#button ion-icon {
  color: var(--cor6);
}

/*Menu*/
.espaco {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}
.menu {
  display: flex;
  gap: 0.5rem;
}

.menu a:hover {
  border-radius: 10px;
  background-color: var(--cor7);
  transition: 0.6s;
}
.menu a {
  display: block;
  color: #fff;
  padding: 0.5rem;
  font-family: var(--fonte1);
  font-weight: 500;
  font-size: 1.1rem;
}
#btn-mobile {
  display: none;
}

/*Logo*/
.logo {
  width: 250px;
}
@media (max-width: 330px) {
  .logo {
    width: 75%;
  }
}

/*Largura Maxima*/
@media (max-width: 800px) {
  
  /*Menu*/
  .menu a:hover {
    border-radius: 0;
  }
  .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--cor6);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid #00000033;
  }
  #nav.active .menu {
    height: calc(295px - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  .divisao {
    border-top: 2px solid #00000033;
  }
  .menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    text-align: center;
  }
  .menu li > a {
    border-bottom: 2px solid #00000033;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--cor1);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  
  /*Logo*/
  
  
  /*Pesquisa*/
  ul .pesquisa-btn {
    display: none;
  }
}

/*Busca*/
.busca {
  margin: 100px 15px 15px 15px;
}
.busca-box {
  display: flex;
  border-radius: 30px;
  background: var(--cor1);
  width: 100%;
  max-width: 1000px;
  border: 2px solid #757575;
}
.busca-btn {
  color: #757575;
  padding: 1rem 0;
  margin: 0 15px;
  text-align: center;
}
.busca-txt {
  border: none;
  background: none;
  outline: none;
  color: var(--cor6);
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

/*Compartilhar*/
.compartilhar img {
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 0 2px #00000080;
}

/*Video*/
.video {
  height: 0px; 
  margin-bottom: 5px;
  padding-bottom: 56%;
  position: relative;
}
.video iframe {
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
  border-radius: 5px;
}

/*Anterior e Próximo*/
.a-p a {
  color: #5F5F5F;
  font-family: var(--fonte1);
  font-weight: 400;
  margin: 30px 15px;
}
.a-p {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.a-p a:hover {
  color: var(--cor7);
}

/*Recente*/
.recente img {
  margin: 15px;
  max-width: 970px;
  border-radius: 5px;
  width: 460px;
  height: 300px;
  object-fit: cover;
}
.recente p {
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0px;
}
.recente {
  display: flex;
  margin: 90px 20px 20px 20px;
  background-color: var(--cor1);
  border-radius: 5px;
  box-shadow: 0 0 3px #0000003D;
}

/*Busca*/
#ul {
  margin: 0 15px;
}
#ul li {
  background-color: var(--cor1);
  border-radius: 5px;
  margin: 30px auto;
  text-align: center;
  max-width: 1000px;
  box-shadow: 0 0 3px #0000003D;
}
#ul img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
#ul h3 {
  font-size: 18px;
  padding: 0;
  margin: 10px 10px 0 10px;
  text-align: left;
  color: var(--cor6);
}
#ul p {
  font-size: 11px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  color: #757575;
}

/*Posts*/
.posts {
  background-color: var(--cor1);
  border-radius: 5px;
  margin: 30px 20px;
  padding-bottom: 15px;
  box-shadow: 0 0 3px #0000003D;
}
.posts h2 {
  margin: 0;
  padding: 8px 15px;
  border-bottom: 2px solid var(--cor2);
  color: var(--cor7);
  font-size: 18px;
  font-family: var(--fonte1);
}
.posts a {
  display: flex;
  border-bottom: 1.5px solid var(--cor2);
  padding: 15px 0;
  margin: 0 15px;
}
.posts img {
  border-radius: 5px;
  width: 120px;
  height: 80px;
  object-fit: cover;
}
.posts h4 {
  margin: 5px 15px;
  color: var(--cor6);
  font-family: var(--fonte1);
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  .recente {
    display: block;
  }
  .recente img {
    margin: 15px 15px 0 15px;
    width: calc(100vw - 70px);
    height: 100%;
  }
  .recente p {
    font-size: 1rem;
  }
}